/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@layer base {
  p {
    @apply leading-8;
  }
}

.juan-cover {
  background: url('/images/juan_stam-cover.jpg') no-repeat center center;
  background-size: cover;
}

article a {
  color: #15c;
  text-decoration: underline;
}
